.container{
  width:800px;
  /* margin:30px auto; */
  padding:25px;
  min-height:300px;
  height:auto;  
}

/* .container h2 { margin-top:30px;} */
.pricing_table {  
  border:1px solid #c4cbcc;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  outline:7px solid #f2f3f3;
  float:left;
}
.pricing_table ul { 
  list-style:none; 
  float:left; 
  width:147px; 
  margin:0; 
  border:1px solid #f2f3f3;
  padding:5px;
  text-align:center;
  background-color:#FFF;
}

.pricing_table ul:not(:first-child):hover{ 
  -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-box-shadow:3px 5px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 3px 5px 7px rgba(0,0,0,.7);
    box-shadow:3px 5px 7px rgba(0,0,0,.7);
  cursor:pointer;
  background-color: rgb(214, 127, 255);
}

.pricing_table ul:not(:first-child) a:hover {
  color: #fbad30!important;
}

.pricing_table ul li {  
  border-bottom:1px dashed #cfd2d2;
  padding:10px 0;
}
.pricing_table ul li:first-child { 
  font-size:18px;
  font-weight:bold;
}

.pricing_table ul li:nth-child(3) { 
  font-size:12px;
  font-weight:bold;
}
.pricing_table ul li:nth-child(n+4) { 
  font-size:14px;
}
.pricing_table ul li:last-child a { 
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border:1px solid #c4cbcc;
  padding:10px;
  margin:5px 0;

  color:#000;
  font-style:italic;
  display:block;
}

body{
  background-color: #f5f7ff;
  font-family: 'Poppins',sans-serif;
  color: #2c2c51;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cardButton{
  height: 150px;
  width: 200px;
  position: relative;
  padding: 10px;
}

input[type="radio"]{
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
  cursor: pointer;
  outline: none;
}

input[type="radio"]:before{
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: #f9fafd;
  border: 1px solid #e2e6f3;
  border-radius: 50%;
  top: 35px;
  right: 20px;
}

input[type="radio"]:after{
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border-radius: 50%;
  top: 39.5px;
  right: 24.5px;
}

.pricingButtons {
  display: flex;
}

label{
  position: absolute;
  margin: 20px;
  cursor: pointer;
}

h5{
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px 0;
}

h2{
  font-size: 28px;
}

span{
  font-weight: 400;
  font-size: 18px;
  color: #7b7b93;
}

input[type="radio"]:checked{
  border: 3px solid #478bfb;
}

input[type="radio"]:checked:after{
  background-color: #478bfb;
}

.applyCode {
  padding: 40px;
}

.applyCode button {
  width: 80%;
}

.main{
  height: 100%;
  width: 100%;
  /* position:absolute; */
  top: 0;
  background-color: rgba(0, 3, 5, 0.865);
}

.popup{
  height: 400px;
  width: 50%;
  background-color: rgba(194, 157, 33);
  position: absolute;
  top: 25%;
  right: 25%;
}

.popup-header{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px 30px;
  /* border-bottom: 2px solid rgba(127, 125, 17, 0.507); */
}

.applycodeInput {
  width: 80%;
  align-self: center;
  height: 40px;
  padding-top: 10px;
  background-color: rgba(146, 144, 58, 0.507);
}

.inputPosition {
  text-align: center;
}

.conatains {
  display: flex;
  border: 1px soild #ccc;
  border-radius: 7px;
}

.left {
  width: 25%;
  font-weight: bold;
}

.left p {
  padding: 30px 20px;
}

.methods {
  padding: 10px 0;
}

.methods div {
  padding: 7px 20px;
  cursor: pointer;
  font-size: 15px;
}

.methods div:hover {
  box-shadow: 0 0 10px rgba(172, 255, 47, 0.196);
}

.methods div::after {
  content: "";
  display: inline-block;
  color:greenyellow;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  margin-left: 10px;
}

.center {
  width: 50%;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: 70vh;
}

.center a{
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.right{
  width: 25%;
}

.right p{
  padding: 30px 20px;
  font-weight: bold;
}

.details {
  padding: 20px 20px;
}

.right a{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 15px;
}

.card-detaials .c-number{
  width: 100%;
  /* border: 1px solid #aaa; */
  border-radius: 3px;
  padding: 0 12px;
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  border-radius: 3px;
  outline: none;
  width: 150px;
  height: 30px;
}

.c-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0;
}

.cc-exp {
  /* border: 1px solid #aaa; */
  border-radius: 3px;
  margin-top: 10px;
  padding: 12px;
  width: 150px;
}

.c-details .cvv-box {
  margin-top: 10px;
  padding: 12px;
  width: 150px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  width: 108px;
}
.cc-cvv {
  width: 60px;
}

.email input {
  width: 100%;
  border: 1px solid #aaa;
  margin-top: 10px;
  padding: 12px;
  border-radius: 3px;
  height: 50px;
  margin-top: 10px;
  font-size: 18px;
  color: #444;
  background-color: greenyellow;
}

button {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 3px;

}

.upiPayment{
    outline: none;
    padding: 16px 22px;
    border: 1px solid #dadce0;
    font-size:18px;
    border-radius:5px;
}
.upiPayment:focus{
    border: 2px solid royalblue;
}

.upiPaymentDiv {
  padding: 20px;
  text-align:  center;
}

.upiPayment button {
  padding-bottom: 10px;
}
